<!-- <app-login></app-login> es lo mismo que el de abajo -->

<router-outlet></router-outlet>

<!-- <mat-form-field appearance="fill">
  <mat-label>Input</mat-label>
  <input matInput>
</mat-form-field> -->
